<!DOCTYPE html>

<head>
    <title>
        Random XKCD Comic
    </title>
    <link href="/static/stylesheets/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h2> Hello </h2>
        <!-- <h2>
            <%= comicData.safe_title %>
        </h2>
        <img src="<%= comicData.img %>" alt="<%= comicData.alt %>" width="500px" height="500px"/> -->
    </div>
</body>